div[vw] {
  position: fixed;
  max-width: 95vw;
  min-height: 40px;
  min-width: 40px;
  z-index: 2147483645 !important;
  display: none;
  margin: 10px !important;

  &.enabled {
    display: block;
  }

  &.active {
    margin-top: -285px;
  }

  &.left {
    left: 0;
    right: initial;
  }
}
